.logo2{
    text-align: center;
    display: block;
    height: 200px;
    weight: 200px;
    margin-top: 3rem;
}
.description2{
    text-align: center;
    font-size: large;
}
.title2{
    text-align: center;

}